body {
    font-family: Arial, sans-serif;
    margin: 0;
    width: 100%;
    background-color: black; /* set the background color to black */
    overflow-x: hidden;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

nav {
    background-color: black; /* set the background color to black */
    color: white;
    padding: 10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.logo a {
    color: white;
    text-decoration: none;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin-left: 30px;
}

.nav-menu li:first-child {
    margin-left: 0;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.nav-menu a:hover {
    color: #ccc;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px); /* set the height of the header to 100% of the viewport height minus 200px */
    color: white;
    background-color: black; /* set the background color to black */
}

header h1 {
    font-size: 48px;
    margin: 0;
    text-shadow: 2px 2px #333;
}

header p {
    font-size: 24px;
    margin: 20px 0 0 0;
}

main {
    padding: 20px;
    max-width: 8000px;
    margin: 0 auto;
    background-color: black; /* set the background color to black */
    height: 100%; /* set the height of the main content to 100% */
}

h2 {
    font-size: 36px;
    margin-top: 0;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: black; /* set the background color to black */
    color: #adacac;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    position: absolute; /* set the position to absolute */
    bottom: 0; /* set the distance from the bottom of the page to 0 */
    width: 100%; /* set the width to 100% */
}
